{% extends "base.html" %}

{% block contenido %}

<section class="hero">

    <div class="hero-content">
        <h1>explora el universo</h1>
        <p>
            descubre imagenes de galaxia y fotografia reales del espacio
            Esta es una paginada dedicada a la exploracion del universo, donde por ahora,
             podemos ver curiosidades sobre el universo y la idea final es poder analizar y mirar 365 fotos que hablen sobre el espacio,
            esto con el fin de mirar lo hermoso que es el universo.
        </p>
        <a href="#" class="btn">
            explorar
        </a>

    </div>

</section>

<p>
    esta será una de las primeras imagenes que me permito mostrarles.
</p>

<div class="galaxia">
    
    <img src="{{ url_for('static', filename='img/nasa1.jpg')}}" alt="NGC 1232">

    <div class="texto">
        <h3>NGC 1232: A Grand Design Spiral Galaxy</h3>
        <p>
            Esta Galaxia esta ubicada aproximadamente a 1100 kilometros por segundos, la cual se encuentra ubivada a 55 mil millones de años luz, esta Galaxia conocida como: "NGC 1232" es una de las Galaxia en expiral,
            más grandes hasta ahora conocidas por la humanidad.
            esta galaxia es una de las favoritas por los astronomos para estudiar el nacimento de las estrellas, se han observado varios avistamineto de Hidrogeno, El Hidrogeno es unos de los principales materiales para 
            la creacion de nuevos planetas y estrellas. 
        </p>
        <p>
            La luz que hoy llega de NGC 1232 comenzó su viaje decenas de millones de años antes de que existieran los seres humanos.
            Cuando observamos esta galaxia, en realidad estamos viendo cómo era hace muchísimo tiempo. Es como mirar una máquina del tiempo natural.
        </p>
        
    </div>
    
</div>
<hr>
<div class="galaxia">
    <img src="{{ url_for('static', filename='img/nasa.2.jpg')}}" alt="at the heart of orion">

    <div class="texto">
        <h3>At the heart of orion</h3>
        <p>
            Hoy logramos apreciar entre miles de fotos tomadas el 2 de enero por la nasa, una de esta bellas fotos titulada, así: "at the heart of orion"
            la nasa, con esta foto nos quiere informar, que en el centro de la nebuloza de orion, hay 4 masivas estrellas, las cuales se les conoce como "the trapezium" estas estan, aproximadamente en un radio de 1.5 años luz
            asi dominando, el cumulo estelar de orion, estudio dinámico indica que colisiones estelares descontroladas A una edad más temprana puede haberse formado un agujero negro con más de 100 veces la masa del Sol.
            La presencia de un agujero negro dentro del cúmulo Podría explicar las altas velocidades observadas de las estrellas del Trapecio. La distancia de la Nebulosa de Orión es de unos 1.500 años luz lo convertiría 
            en el agujero negro conocido más cercano al planeta Tierra.
        </p>


    </div>


</div>
<hr>
<div class="galaxia">

    <img src="{{ url_for('static', filename='img/nasa.3.jpg')}}" alt="the borial fenix">

    <div class="texto">

        <h3> The borial fenix </h3>
        <p>
            El 3 de enero, la nasa subió una de las fotos mas importantes y por lo que para mi, un simple aficionado de las astronia es la mas bonita, ya que nos permite visualizar dos fenómenos dificiles de mirar,
            Lo más llamativo de la fotografía es que las luces de la aurora parecen dibujar la silueta de un fénix con las alas abiertas, un efecto completamente natural producido por la forma en que las partículas
            cargadas del Sol interactúan con el campo magnético y la atmósfera terrestre.
            estas auroras boreales se forman gracias a la interacción entre los rayos solares y el campo magnético de la Tierra. ¿ por qué parece que se mueven ? esto pasa por algo llamado "el viento solar"
            el viento solar cambia constantemente, el campo magnético terrestre dirige las partículas por diferentes líneas, y la atmósfera responde a esos cambios, formando cortinas, arcos y espirales luminosas.

        </p>


    </div>

</div>
<hr>
<div class="galaxia">
    <img src="{{ url_for('static', filename='img/nasa.4.jpg')}}" alt="CG4:The Galaxy">

    <div class="texto">

        <h3>CG4: The Globule and the Galaxy </h3>

        <p>
            Explicación: ¿Puede una nube de gas comerse una galaxia? Ni siquiera está cerca. La "garra" de esta "criatura" de aspecto extraño en el La foto destacada es una nube de gas conocida como glóbulo cometario.
            Este glóbulo, sin embargo, se ha roto. Glóbulos cometarios se caracterizan típicamente por cabezas polvorientas y colas alargadas. Estas características provocan la aparición de cometas glóbulos tener similitudes visuales con cometas,
            pero en realidad son muy diferentes. Los glóbulos son frecuentemente los lugares de nacimiento de las estrellas, y muchos muestran muy jóvenes estrellas en sus cabezas. La razón de la ruptura en la cabeza de este El objeto aún no se conoce.
            La galaxia a la izquierda del glóbulo es enorme, muy lejano en la distancia, y sólo se coloca cerca CG4 por superposición casual.



        </p>

    </div>

</div>
<hr>
<div class="galaxia">
    <img src="{{ url_for('static', filename='img/nasa.5.jpg')}}" alt="The Lagoon Nebula">
    <div class="texto">

        <h3> The Lagoon Nebula in Hydrogen, Sulfur, and Oxygen</h3>

        <p>
            llamada cientificamente Messier 8 (M8), comunmente la nubulosa de las lagunas, en esta nebulosa  ocurre una de las formaciones de nuevos cuerpos celestes más impresionantes , ya que cuenta con una gran cantidad de gas de Hidrogeno
            Ahora, por qué se llama la nebulosa de las lagunas; Cuando los primeros astrónomos la observaron con telescopios, notaron una franja oscura de polvo que divide parte de la nebulosa brillante. Esa franja parecía una laguna rodeada de agua,
            de ahí su nombre.
            estas son una de sus curiosidades; Fue descubierta por el astrónomo italiano Giovanni Battista Hodierna alrededor de 1654, antes de que Charles Messier la incluyera en su famoso catálogo como M8.
            Es una de las nebulosas de emisión más brillantes de todo el cielo. Desde el hemisferio sur y las regiones tropicales del hemisferio norte puede observarse durante el invierno austral y el verano boreal.
            Lo más fascinante es que la Nebulosa de la Laguna es un auténtico vivero estelar.
            Dentro de ella existen enormes nubes que colapsan debido a la gravedad, formando:
            Protoestrellas.
            Discos de gas y polvo.
            Nuevos sistemas planetarios.
            Muchas de esas estrellas apenas tienen unos pocos millones de años, lo que en astronomía significa que son extremadamente jóvenes.
        </p>

    </div>
</div>

{% endblock %}

